{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

    <div class="form-group">
        <form action="/add" method="post">
            Please enter the following:

            <fieldset class="form-group">
                <label>{{ fieldnames['Name'] }}</label>
                <input type="text" class="form-control" name="name">
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Description'] }}</label>
                <textarea class="form-control" name="description" rows="3"></textarea>
                <small class="text-muted">What should people know about you?</small>
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Category'] }}</label>
                <input type="text" class="form-control" name="category">
            </fieldset>
            <small class="text-muted">Please select the category that best represents you</small>

            <div> Address is not required, but without it we can't put you on the map or help searchers find you!</div>

            <fieldset class="form-group">
                <label>{{ fieldnames['Address1'] }}</label>
                <input type="text" class="form-control" name="address1">
                <small class="text-muted">Number and street</small>
                </fieldset>
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Address2'] }}</label>
                <input type="text" class="form-control" name="address2">
                <small class="text-muted">Apartment, suite, etc</small>

            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['City'] }}</label>
                <input type="text" class="form-control" name="city">
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['State'] }}</label>
                <input type="text" class="form-control" name="state">
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Zip'] }}</label>
                <input type="text" class="form-control" name="zip">
            </fieldset>

            <div> Contact information is not required but without it we won't be able to get in touch or put you in touch with searchers </div>

            <fieldset class="form-group">
                <label>{{ fieldnames['Phone'] }}</label>
                <input type="text" class="form-control" name="phone">
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Website'] }}</label>
                <input type="text" class="form-control" name="website">
            </fieldset>
            <fieldset class="form-group">
                <label>{{ fieldnames['Email'] }}</label>
                <input type="email" class="form-control" name="email">
            </fieldset>
            <input type="submit" value="Submit"></input>
            <small class="text-muted">Sometimes this is a little slow, please be patient!</small>
        </form>
    </div>
<div class="container-fluid">
{% endblock %}