<!doctype html>
<html>
  <head>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="../static/css/styles.css" rel="stylesheet" media="screen">
    <title>Test</title>
  </head>
  <body>
    <div class="jumbotron">
    Ms. Match
    </div>

    <ul class="nav nav-tabs">
    <li role="presentation"><a href="/">Home</a></li>
    <li role="presentation"><a href="/list">Search</a></li>
    <li role="presentation"><a href="/add">Add</a></li>
    </ul>
    <div id="content">{% block content %}{% endblock %}</div>


  </body>
</html>