{% extends "base.html" %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6";>
                <h2>Look, a column to describe your project?</h2>
                Put some text here to explain your goal and who it might be useful for.
            </div> <!--col-sm-6-->

            <div class="col-sm-6";>
                <h2> Ooh, another column! </h2>
            
                Add lots more here. Maybe a description of the organization behind this site?
            </div> <!--col-sm-6-->
        </div> <!--row-->
    </div> <!--container-fluid-->

{% endblock %}