{% extends "base.html" %}

{% block content %}


    <div class="container-fluid">
        <div class="row">
            {% if success %}
                You were successfully added to our system!
                {% if require_approval %}
                    Once you are approved by a moderator, you will appear on the site. Please don't submit it again.
                {% else %}
                    It may take 15 minutes for your addition to appear on the site. Please don't submit again.
                {% endif %}
            {% else %}
                Uh oh, something went wrong. Try again or contact the administrator
            {% endif %}

        </div> <!--row-->
    </div> <!--container-fluid-->

{% endblock %}