{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <h2> Search </h2>
    <div class="form-group">
        <form action="/list" method="post">
            What are you looking for?
            <input type="text" name="search_term"></input>
            <input type="submit" value="Go"></input>
        </form>
    </div>

    <h2>Results</h2>
    <table class="table">
        <tr>
        {% for c in cols %}
            <th> {{ fieldnames[c] }} </th>
        {% endfor %}
        <th> View Full Record </th>
        </tr>
        {% for r in records %}
            <tr>
            {% for c in cols %}
                <td>
                {{ r[c][0:30] }}
                {% if r[c][30:] %}
                    ...
                {% endif %}
                </td>
            {% endfor %}
            <td>
            {% if r['ID'] %}
                <a href={{ r['url'] }}>Show</a>
            {% else %}
               Coming soon!
            {% endif %}
            </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}