{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    {% if not found %}
        We couldn't find this record. Please check the URL or contact the administrator.
    {% else %}
        <h2> {{ record['Name'] }}</h2>
        {% for f in fieldnames %}
            {% if f != 'Name' and fieldnames[f] != None %}
                <div> <strong>{{ fieldnames[f] }}:</strong> {{ record[f] }} </div>
            {% endif %}
        {% endfor %}
    {% endif %}

<div class="container-fluid">
{% endblock %}